@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  font-family: "Outfit", serif;
}
.navbar{
  width : 100%;
  display : flex;
  margin : auto;
  justify-content : center;   
  
}
  nav{
    background-color:  red;
      position : absolute;
      top : 10px;
      background : #ffc350;
      width : 100%;
      display : flex;
      justify-content : space-between;
      align-items : center;
      padding : 10px;
  }
  ul{
      height : 30px;
      align-items : center;
  }
  nav li{
     display : inline-block;
     margin : 0 8px;
     padding : 5px;
  }
  a{
      color : black;
      text-decoration : none;
      
  }
  a::after{
      content : ' ';
      height : 2px;
      width : 0px;
      background : red;
      display : block;
      transition : 300ms;
  }
  a:hover::after{
      color : red;
      width : 100%;
  }
  .menu-bar{
      height : 2px;
      width : 20px;
      background-color : black;
      margin : 3px;
  }
  .menu{
      cursor : pointer;
      display : none;
  }
  .logo{
      font-size : 26px;
      font-weight : bolder;
      letter-spacing : 1px;
  }
      
  
  
/*  Mobile Views for Navbar */

  @media (max-width : 940px){
      nav{
          padding : 10px;
          position : absolute;
          top : 10px;
          display : flex;
          width : 100%;
          flex-direction : column;
          border : 1px solid black;
      }
      .showmenu{
          display : block;
      }
      nav ul{
          display : none;
          position : absolute;
          top : 80px;
          bottom : 100%;
          left : 0;
          width : 100%;
          padding :0px;
          margin : 0;
          animation : shows 3s;
      }
      @keyframes shows{
          0%{
              opacity : 0;
          }100%{
              opacity : 1;
          }
      }
      nav li{
          width : 100%;
          background : #ffc350;
          display : block;
          margin : 5 8px;
          padding : 10px;
      }
      nav li a{
          text-align : center; 
          color : black;
          align-items : center;
      }
      .menu{
          display : block;
          position : absolute;
          top : 20px;
          right : 10px;
      }
      .logo{
          align-self : flex-start;
          margin : 10px;
      }
      
  }




  .title{
    font-size : 30px;
    font-weight : bolder; 
    text-align : center;
    letter-spacing : 1px;
    }
    .title::after{
        content:'';
        height : 2px;
        width : 100%;
        background : red;
        display : block;
        
    }
    .box img{
        height : 300px;
        width : 400px;
        background : gray;
        animation : aboutimganimation 3s;
    }
    .box_container{
        display : grid;
        grid-template-columns : 50% 50%; 
    }
    .box{
        margin : 20px;
        text-align : center;
    }
    .box p{
        margin : 10px;
        padding : 10px;
        font-size : 22px;
        align-self : flex-center;
        text-align : justify;
        animation : aboutpanimation 5s;
    }
    @keyframes aboutpanimation{
        from{
            opacity : 0;
            transform : translateY(0px);
        }
        to{
            opacity :1;
            transform : translateY(-10px);
        }
    }